<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>需要访问照片库以上传照片到 Smart NAS</string>
    <key>NSCameraUsageDescription</key>
    <string>需要使用相机拍摄照片</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要保存照片到相册</string>
</dict>
</plist>